.login-container{
   -fx-padding: 40px 20px 0px 20px;
   -fx-font-family: "Raleway";
}

.text-input{
    -fx-border-radius: 4px;
    -fx-padding: 8px;
}

.button{
    -fx-background-color: #4dAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 4px;
    -fx-padding: 8px 16px;
}

.button:hover{
    -fx-background-color: #3d9c40;
}