.main-label{
    -fx-font-family: "Raleway";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.main-label.light-txt{
    -fx-text-fill: #ffffff;
}

.left-pane{
    -fx-background-color: #444444;
}

.button{
    -fx-background-color: #444444;
    -fx-text-fill: #3a3a3a;
    -fx-font-family: "Raleway";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button.update{
    -fx-background-color:  #fed8b1;
}

.button.update:hover{
    -fx-background-color: #ffcc99;
}

.button.delete{
    -fx-background-color: #f1807e;
}

.button.delete:hover{
    -fx-background-color: #b33e3e;
}

.button.add{
    -fx-background-color: #99ff99;
}

.button.add:hover{
    -fx-background-color: #5cb85c;
}